WIFI_SSID=""
WIFI_PASSWORD=""
CONFIG_WIFI_TOPIC=""

MQTT_BROKER_URI=""
MQTT_BROKER_USERNAME=""
MQTT_BROKER_PASSWORD=""

TION_ENABLED=false
TION_MQTT_TOPIC_STATUS=""
TION_MQTT_TOPIC_COMMANDS=""

I2C_PORT_0_ENABLED=false
I2C_PORT_0_GPIO_SDA=0
I2C_PORT_0_GPIO_SCL=0

I2C_PORT_1_ENABLED=false
I2C_PORT_1_GPIO_SDA=0
I2C_PORT_1_GPIO_SCL=0

BME280_ENABLED=false
BME280_TOPIC_STATUS=""
BME280_PORT=0

SGP30_ENABLED=false
SGP30_TOPIC_STATUS=""
SGP30_PORT=0
SGP30_APPLI_COMPENSATION=false

BH1750_ENABLED=false
BH1750_TOPIC_STATUS=""
BH1750_PORT=0

MH_Z19B_ENABLED=false
MH_Z19B_UART_PORT=0
MH_Z19B_UART_PIN_RXD=0
MH_Z19B_UART_PIN_TXD=0
MH_Z19B_MQTT_TOPIC_STATUS=""
MH_Z19B_MQTT_TOPIC_COMMAND=""

PMS7003_ENABLED=false
PMS7003_UART_PORT=0
PMS7003_UART_PIN_RXD=0
PMS7003_UART_PIN_TXD=0
PMS7003_MQTT_TOPIC_STATUS=""

RGBLED_ENABLED=false
RGBLED_GPIO_RED=0
RGBLED_GPIO_GREEN=0
RGBLED_GPIO_BLUE=0
RGBLED_MQTT_TOPIC_COMMAND=""

FAN_ENABLED=false
FAN_GPIO=0
FAN_MQTT_TOPIC_COMMAND=""

IR_ENABLED=false
IR_GPIO=0
IR_MQTT_TOPIC_COMMAND=""

TOUCH_ENABLED=false
TOUCH_PIN=0
TOUCH_MQTT_TOPIC_STATUS=""

ANEMOMETER_ENABLED=false
ANEMOMETER_GPIO_A=0
ANEMOMETER_GPIO_B=0
ANEMOMETER_MQTT_TOPIC_STATUS=""
ANEMOMETER_MQTT_TOPIC_COMMAND=""
